.login-form {
  font-family: 'Times New Roman', Times, serif;
  max-width: fit-content;
  margin: 0 auto 300px;
  padding: 20px 30px;
  background-color: rgb(22, 22, 22);
  border-radius: 15px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;

}

h3 {
  font-size: x-large;
  align-self: center;
  letter-spacing: 3px;

}


.login-form input {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: none;
  border-style: none;
  margin: 10px 0;
  padding: 10px;
}


.login-form label {
  font-weight: bold;

}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

.register {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  opacity: 0.8;
  text-decoration: underline;
  text-transform: uppercase;
  
}


button {  
  background-color: rgba(128, 128, 128, 0.548);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
button:hover {
  background-color: white;
  color: gray;
  transition: 0.5s;
  font-weight: bold;

}

.btn-link .register:hover{
  opacity: 0.5s; 
  color: gray;
}
.register{
  margin-left: 10px;
}
