/* .login-container {
    text-align: center;
  }
  
  .form {
    text-align: left;
    border: 5px solid #ccc;
    padding: 20px;
    background-color: white;
    color: black;
    width: 80%;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;

  }
  
  .login-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .btn-link {
    text-align: center;
    margin-top: 10px;
    
  }
  
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: #cccccc65;
    cursor: not-allowed;
  }
  
  .text {
    text-align: center;
    margin-top: 10px;
  }
  
  .text .register {
    color: black;
  }
  
  .register:hover {
    text-decoration: underline;
    color: rgb(26, 0, 173);
  } */